{% extends "base_info.html" %}

{% block faq_link_class %}current_nav_link{% endblock %}

{% block info_title %}FAQ{% endblock %}

{% block info_text %}
<ul class="faq">

  <li>
    <div><span>Why must this exist?</span><p>That's a very good question. I wanted a single centralized location where I could post updates and news about my various projects; among other eclectic and wonderful things.</p></div>
  </li>

  <li>
    <div><span>How often are new posts added?</span><p>Whenever the hell I get around to it, so occasionally.</p></div>
  </li>

  <li>
    <div><span>What is your favorite color?</span><p>That's a <em>very</em> personal question; therefore, I decline to comment.</p></div>
  </li>

  <li>
    <div><span>What's up with the name?</span><p><a href="http://xkcd.com/859/" target="_blank">This</a>, you may thank me now or later.</p></div>
  </li>

  <li>
    <div><span>What languages do you know?</span><p>I'd like to think that I know Python, C++, C, Ruby, SQL, HTML, CSS, JavaScript, some German, and <em>American</em>.</p></div>
  </li>

</ul>
{% endblock %}