{% extends "base_info.html" %}

{% block links_link_class %}current_nav_link{% endblock %}

{% block info_title %}Links{% endblock %}

{% block info_text %}
<p style="text-align:left;"><span>Here are some links to some <em style="color:#b0b4b4;">pretty</em> cool sites, i.e., shameless plugs.</span></p>

<ul class="faq">

  <li>
    <a href="http://avgweather.com" target="_blank">AVGWeather</a>, the best weather site on the web.
  </li>

  <li>
    My <a href="http://github.com/rectangletangle" target="_blank">GitHub</a> account.
  </li>

</ul>
{% endblock %}